main {
  padding-inline: 10px;
  margin-top: 20px;
  margin-bottom: 33px;
  display: grid;
  gap: 108px;
}

#product-details {
  display: grid;
  gap: 50px;

  h1 {
    text-align: center;
    font-size: 22px;
    font-family: system-ui;
    font-weight: 500;
    color: #fd5c38;
  }

  .details-list {
    li {
      display: grid;
      gap: 8px;
      width: 100%;
      max-width: 1400px;
      background-color: #f7f7f7a3;
      border-radius: 10px;
      padding-block: 10px;
      padding-inline: 10px;

      figure {
        max-width: 400px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .dishes-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: baseline;

        h3 {
          font-size: 20px;
          font-family: sans-serif;
          font-weight: 100;
        }

        p {
          font-size: 14px;
          font-family: system-ui;
          line-height: 20px;
          color: #1c1c1c;
        }

        span {
          font-size: 14px;
          font-family: system-ui;
        }

        .product-quantity {
          display: flex;
          align-items: center;
          gap: 13px;

          .increment-decrement {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            gap: 0;
            margin-block: 4px;
            background: white;
            height: 31px;
            border-radius: 30px;
            align-items: center;
            width: 100%;

            .btn-increment {
              border: hidden;
              width: 23px;
              height: 23px;
              display: flex;
              border-radius: 30px;
              justify-content: center;
              align-items: center;
              background-color: #8ff196;
              color: #07af0f;
              cursor: pointer;
              transition-duration: 0.6s;

              &:active {
                transform: scale(0.7);
              }

              svg {
                width: 16px;
              }
            }

            .btn-decrement {
              border: hidden;
              width: 23px;
              height: 23px;
              display: flex;
              border-radius: 30px;
              justify-content: center;
              align-items: center;
              background-color: #ffadad;
              color: #e41e1e;
              cursor: pointer;
              transition-duration: 0.6s;

              &:active {
                transform: scale(0.7);
              }

              svg {
                width: 16px;
              }
            }
          }
        }

        .add-to-cart {
          background-color: #fd5c38;
          color: white;
          margin-top: 10px;
          border: hidden;
          padding-block: 10px;
          padding-inline: 14px;
          border-radius: 7px;
          cursor: pointer;
          max-width: 124px;
          width: 100%;
          transition-duration: 0.6s;

          &:active {
            transform: scale(0.7);
          }
        }
      }
    }
  }
}

#related-products {
  h2 {
    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
    color: #fd5c38;
  }

  .related-list {
    margin-top: 20px;
    list-style: none;
    display: grid;
    gap: 20px;
    margin-inline: auto;
    justify-content: center;

    li {
      max-width: 300px;

      figure {
        max-width: 300px;
        position: relative;

        img {
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          width: 100%;
          height: 100%;
        }

        .increment-decrement {
          position: absolute;
          gap: 6px;
          bottom: 14px;
          right: 7px;
          background: white;
          height: 31px;
          border-radius: 30px;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          .btn-increment {
            border: hidden;
            width: 23px;
            height: 23px;
            display: flex;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
            background-color: #8ff196;
            color: #07af0f;
            cursor: pointer;
            transition-duration: 0.6s;

            &:active {
              transform: scale(0.7);
            }

            svg {
              width: 16px;
            }
          }

          .btn-decrement {
            border: hidden;
            width: 23px;
            height: 23px;
            display: flex;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
            background-color: #ffadad;
            color: #e41e1e;
            cursor: pointer;
            transition-duration: 0.6s;

            &:active {
              transform: scale(0.7);
            }

            svg {
              width: 16px;
            }
          }
        }
      }

      .dishes-info {
        display: grid;
        gap: 9px;
        border-bottom: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-inline: 15px;
        padding-block: 5px;

        .dishes-title {
          display: flex;
          justify-content: space-between;

          a {
            h3 {
              font-size: 17px;
              font-family: system-ui;
              font-weight: 600;
            }
          }

          img {
            width: 76px;
            height: 20px;
          }
        }

        p {
          font-size: 15px;
          font-family: system-ui;
          color: #434343;
        }

        .card {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-top: 12px;
        }

        span {
          font-size: 20px;
          font-family: system-ui;
          font-weight: 600;
          color: #fd5c38;
          margin-left: auto;
        }

        .add-to-cart {
          background-color: #fd5c38;
          color: white;
          border: hidden;
          padding-block: 10px;
          padding-inline: 14px;
          border-radius: 7px;
          cursor: pointer;
          max-width: 146px;
          transition-duration: 0.6s;

          &:active {
            transform: scale(0.7);
          }
        }
      }
    }
  }
}

@media (min-width: 640px) {
  main {
    padding-inline: 20px;

    #related-products {
      .related-list {
        max-width: 621px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media (min-width: 768px) {
  main {
    padding-inline: 30px;

    #product-details {
      .details-list {
        li {
          .dishes-info {
            p {
              max-width: 691px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  main {
    padding-inline: 50px;

    #product-details {
      .details-list {
        li {
          gap: 27px;
          align-items: center;
          grid-template-columns: 1fr 3fr;

          figure {
            max-width: unset;
            width: unset;

            img {
              width: unset;
              height: unset;
            }
          }
        }
      }
    }

    #related-products {
      .related-list {
        max-width: 941px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media (min-width: 1200px) {
  main {
    padding-inline: 100px;
  }
}
@media (min-width: 1400px) {
  main {
    padding-inline: 150px;
    max-width: 1400px;
    margin-inline: auto;
  }
}
