* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* webkit scrollbar style */
body {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fd5c38;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }
}

/* header style */
header {
  .header-info {
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 10px;
    gap: 12px;

    .header-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 23px;
        font-family: sans-serif;
        color: #fd5c38;
      }

      nav {
        display: flex;
        gap: 26px;
      }

      .account {
        height: 40px;
        font-size: 15px;
        font-family: system-ui;
      }

      .cart-icon {
        display: flex;
        align-items: center;
        position: relative;
        gap: 10px;

        svg {
          width: 20px;
          height: 20px;
        }

        .total-cart {
          display: flex;
          flex-direction: column;
          gap: 2px;
          font-family: system-ui;
          font-size: 14px;
        }

        .count-cart {
          position: absolute;
          background: #fd5c38;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          color: white;
          right: -7px;
          top: -4px;
        }
      }
    }

    .search-input {
      width: 100%;
      max-width: 344px;
      display: flex;
      margin: auto;

      input[type="text"] {
        width: 261px;
        padding-block: 10px;
        padding-inline: 10px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 2px solid #fd5c38;

        &:focus {
          outline: none;
        }
      }

      & > button {
        background-color: #fd5c38;
        border: hidden;
        padding-block: 10px;
        padding-inline: 21px;
        color: white;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
      }
    }
  }

  hr {
    border-color: #d3d3d321;
  }

  .header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 10px;

    nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      width: 100%;
      padding-block: 7px;
      padding-inline: 7px;
      z-index: 1;
      transform: translateY(-100%);
      visibility: hidden;
      opacity: 0;
      transition-duration: 0.7s;

      &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 12px;

        li {
          font-size: 14px;
          font-family: system-ui;
        }
      }

      .close-navbar {
        width: 17px;
        height: 17px;
        display: flex;
        margin-left: auto;
        background-color: transparent;
        border: hidden;
        color: #f44336;
        cursor: pointer;
      }
    }

    .login {
      button {
        background-color: #fd5c38;
        border: hidden;
        padding-block: 10px;
        padding-inline: 14px;
        border-radius: 7px;
        color: white;
        cursor: pointer;
        transition-duration: 0.4s;

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .open-navbar {
      background: transparent;
      border: hidden;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.section-navbar {
  background-color: #0000006e;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.4s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.warning-message {
  background: #f44336;
  position: fixed;
  bottom: 11px;
  right: 12px;
  color: white;
  font-size: 16px;
  font-family: system-ui;
  width: 100%;
  max-width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;

  &.active {
    transform: translateY(0);
    opacity: 1;
    -webkit-animation: shake 0.4s ease-in-out;
            animation: shake 0.4s ease-in-out;
  }
}


/* media query */

@media (min-width: 640px) {
  header {
    .header-info {
      padding-inline: 20px;

      .header-logo {
        position: relative;
      }
      .search-input {
        max-width: 358px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        input[type="text"] {
          width: 274px;
        }
      }
    }

    .header-navbar {
      padding-inline: 20px;

      nav {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
        background: transparent;
        display: flex;
        position: static;
        width: auto;

        ul {
          display: flex;
          flex-direction: row;
          gap: 12px;
        }

        .close-navbar {
          display: none;
        }
      }

      .open-navbar {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .header-info {
      padding-inline: 30px;

      .search-input {
        max-width: 391px;

        input[type="text"] {
          width: 308px;
        }
      }
    }

    .header-navbar {
      padding-inline: 30px;
    }
  }
}

@media (min-width: 992px) {
  header {
    .header-info {
      padding-inline: 50px;
    }

    .header-navbar {
      padding-inline: 50px;
    }
  }
}

@media (min-width: 1200px) {
  header {
    .header-info {
      padding-inline: 100px;
    }

    .header-navbar {
      padding-inline: 100px;
    }
  }
}

@media (min-width: 1400px) {
  header {
    .header-info {
      padding-inline: 150px;
      max-width: 1400px;
      margin-inline: auto;
    }

    .header-navbar {
      padding-inline: 150px;
      max-width: 1400px;
      margin-inline: auto;
    }
  }
}
